# 1. Impedisce di vedere la lista dei file se manca l'index
Options -Indexes

# 2. Reindirizza tutto il traffico verso la cartella public
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>